body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 15px;
}

img {
  --image-size: 48px;
  height: var(--image-size);
  width: var(--image-size);
  border-radius: var(--image-size);
}

.tweet-body {
  --spacing: 12px;

  background-color: #fff;
  border: solid 1px #cfd9de;
  border-radius: 16px;
  padding: var(--spacing);
  column-gap: var(--spacing);

  display: flex;
}

.tweet-top-row {
  margin-bottom: 2px;
}

.tweet-author-name {
  font-weight: bold;
  color: #000;
}

.tweet-metadata {
  color: #71767b;
  margin-left: 4px;
}

.tweet-message {
  color: #0f1419;
}

.tweet-action-row {
  display: flex;
  justify-content: space-between;
  max-width: 425px;
  margin-top: var(--spacing);
}

.tweet-action {
  display: flex;
  column-gap: var(--spacing);
}

.tweet-icon {
  color: #536471;
  width: 16px;
  height: 16px;
}

.tweet-action-count {
  color: #536471;
  font-size: 13px;
}